# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @bniladridas will be requested for review when someone 
# opens a pull request.
*       @bniladridas

# All .py files
*.py    @bniladridas

# Docs directory
/docs/  @bniladridas